
.imgsabout{
    border-radius: 100% !important;

}
.abouttopheading{
    text-align: center;
}
.skilltext{
font-size: 30px;
text-align: center;

}
.testimonial{
    text-align: center;
    font-size: 30px;
}
.testimonialheaing{
    text-align: center;
}
     