body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7F3YWr39zxc2obBxlnikqm8_qdXOahSNBgw&usqp=CAU');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px;
    padding: 10px;
}
  
.imgsabout{
    border-radius: 100% !important;

}
.abouttopheading{
    text-align: center;
}
.skilltext{
font-size: 30px;
text-align: center;

}
.testimonial{
    text-align: center;
    font-size: 30px;
}
.testimonialheaing{
    text-align: center;
}